[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = caster6443
	email = 2732324758@qq.com
[credential "https://github.com"]
	helper = 
	helper = !/home/caster/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/caster/.local/bin/gh auth git-credential
