// 添加如下行以在启动时运行进程。
// 请注意，以会话模式运行 niri 支持 xdg-desktop-autostart（标准桌面自启），
// 这可能使用起来更方便。
// 请参阅下方的按键绑定 (binds) 部分以获取更多启动示例。

// 要运行 shell 命令（包含变量、管道符等），请使用 spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

//监听文本复制
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
//监听图片复制
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
// 强制同步环境变量到 DBus/Systemd 会话
// 这能修复 Nautilus、Loupe 等通过 DBus 启动的应用没有中文、不吃主题的问题
spawn-at-startup "dbus-update-activation-environment" "--systemd" "LANG" "LC_MESSAGES" "GSK_RENDERER" "XMODIFIERS" "GTK_IM_MODULE" "QT_IM_MODULE" "QT_QPA_PLATFORMTHEME"
//启动noctalia-shell
spawn-at-startup "qs" "-c" "noctalia-shell"
//解决蓝牙/USB耳机连接时，输出设备不自动切换的问题
spawn-at-startup "pactl" "load-module" "module-switch-on-connect"

//休眠监听功能
spawn-at-startup "hypridle"
// This line starts waybar, a commonly used bar for Wayland compositors.
//spawn-at-startup "waybar" "-c" "/home/Caster/.config/waybar/config-niri.jsonc"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
//spawn-at-startup "mako"
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "dms" "run"

hotkey-overlay {
    // 取消注释此行以禁用启动时的“重要快捷键”弹窗。
        skip-at-startup
}
