// 此配置文件使用 KDL 格式: https://kdl.dev
// "/-" 用于注释掉紧随其后的节点。
// 请查看 Wiki 获取配置的完整说明:
// https://yalter.github.io/niri/Configuration:-Introduction
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    //LANG "zh_CN.UTF-8"
    LC_MESSAGES "zh_CN.UTF-8"
    //修复 GTK4 应用 (Nautilus, 设置等) 在 N 卡下的卡顿问题
    GSK_RENDERER "gl"
    //确保 XWayland 应用能使用 Fcitx5 输入中文
    XMODIFIERS "@im=fcitx"
    //GTK_IM_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    //让 Qt 应用 (VLC, OBS等) 使用 qt6ct/qt5ct 进行主题管理
    QT_QPA_PLATFORMTHEME "qt6ct"
}

// 你可以更改屏幕截图的保存路径。
// 开头的 ~ 将被展开为用户主目录 (/home/你的用户名)。
// 路径格式遵循 strftime(3) 标准，以自动填入截图的日期和时间。
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
// 你也可以将其设置为 null 以禁用将截图保存到磁盘（只复制到剪贴板）。
// screenshot-path null

include "./animations.kdl"
include "./input.kdl"
include "./layout.kdl"
include "./outputs.kdl"
include "./window_rules.kdl"
include "./autostart.kdl"
include "./binds.kdl"
